{{!-- Data passed through: foursquareData + restaurantDocuments --}}

<div class="restaurant-card">

  <div class="restaurant-details">
    <p class="title">{{this.name}}</p>
    <p>{{this.location.address}}</p>
    <p class="caption">{{this.categories.0.shortName}}</p>
    <a href="/{{this.id}}/score">Rate restaurant</a>
  </div>

  {{#if this.aggregatescore}}
  <div class="restaurant-score">
    <div class="score scored">
      <p>{{this.aggregatescore}}</p>
    </div>
  </div>
  {{else}}
  <div class="restaurant-score">
    <div class="score not-scored tooltip">
      <p>N/A</p>
      <p class="tooltiptext">This restaurant is not yet rated.</p>
    </div>
  </div>
  {{/if}}
</div>