{{!-- <div class="movie-card">
  <div class="movie-poster">
    <a href="/shawshank-redemption"><img src="{{this.poster}}" alt="poster for {{this.title}}"></a>
  </div>
  <div class="movie-details">
    <h3>{{this.title}}</h3>
    <p>Released in {{this.year}} and directed by {{this.director}}</p>
    <p>Duration: {{this.duration}}</p>
    <p>Rate: {{this.rate}}</p>
    <p>Genre: {{#each this.genre}}
      <span>{{this}}</span>
      {{/each}}
    </p>
  </div>
</div> --}}
<div class="restaurant-card-background">
  <div class="restaurant-card">
    <div class="restaurant-details">
      <p class="title">Street Food Thursday</p>
      <p>Eisenbahnstr. 42/43</p>
      <p class="caption">Street Food Gathering</p>
      <a href="#">Rate restaurant</a>
    </div>
    <div class="restaurant-rating">
      <div class="score">
        <p>8.0</p>
      </div>
    </div>
  </div>
</div>