{{!-- Data passed through: foursquareData + restaurantDocuments --}}

<div class="restaurant-card" id="{{this.name}}">

  <div class="restaurant-details">
    <p class="title">{{this.name}}</p>
    <p>{{this.location.address}}</p>
    <p class="caption">{{this.categories.0.shortName}}</p>

    {{#if user}}
    <a href="/{{restaurant.id}}/score">Give this restaurant a score</a>
    {{else}}
    <p class="caption">Please sign up or log in to score a restaurant</p>
    {{/if}}
  </div>

  {{#if this.aggregatescore}}
  <div class="restaurant-score">
    <div class="score scored tooltip">
      <p>{{this.aggregatescore}}</p>
      {{!-- <p class="tooltiptext">Very environmentally friendly!</p> --}}
    </div>
  </div>
  {{else}}
  <div class="restaurant-score">
    <div class="score not-scored tooltip">
      <p>N/A</p>
      <p class="tooltiptext">This restaurant is not yet rated.</p>
    </div>
  </div>
  {{/if}}
</div>